<% include ../partials/header %>


    <div class="row justify-content-center">
        <div class="col-md-12 text-center mb-4">
            <h1 style="text-align: center">Edit Comment</h1>
        </div>
        <div id="newCampgroundForm" class="col-lg-4 col-md-6 col-sm-8">
            <form action="/campgrounds/<%=campground_id%>/comments/<%=comment._id%>?_method=put" method="post">
                <div class="form-group">
                    <textarea rows="5" name="comment[text]" class="form-control"><%=comment.text%></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-warning btn-block">Edit</button>   
                </div>
            </form>
            <a href="/campgrounds" class="btn btn-md">View all Campgrounds!</a>
        </div>
    </div>

<% include ../partials/footer %>